/* General Styles */
body {
    font-family: 'Lora', serif;
    background-color: #f5f5f5; /* Light grey background, good for login and other pages */
}

.btn-outline-primary {
    color: #3D5A80;
    background-color: #f5f5f5;
    border-color: #3D5A80;
}

.btn-outline-primary:hover {
    color: #f5f5f5;            /* Text color when hovering */
    background-color: #3D5A80; /* Background color when hovering */
    border-color: #f5f5f5; /* Border color when hovering */
}

.back-to-home {
    color: #3D5A80 !important;
}

/* Navigation Bar */
.navbar {
    background-color: #3D5A80; /* Cyan/blue color */
}

.navbar-brand {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: white;
    margin-right: 25px; /* Increase space between logo and nav items */
}

.navbar-nav .nav-link  {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.navbar-brand img {
    height: 30px; /* Adjust the logo size */
}

.menu-item {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px; /* Adjust based on design preference */
}

/* Adjust navbar container padding for better edge spacing */
.navbar .container, .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

/* Login Page */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    font-family: 'Lora', serif;
    margin-bottom: 10px;
}

::placeholder {
    font-family: 'Lora', serif; /* Specify Lora font for the placeholder */
}

.btn-primary {
    font-family: 'Lora', serif !important;
    background-color: #3D5A80 !important;
    border-color: #3D5A80 !important;
}

/* Property Cards and Carousel */
.container, .carousel, .carousel-inner, .carousel-item-container {
    width: 100%;
}

.box, .card {
    background-color: #D9D9D9; /* Grey background for cards */
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.card-title {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.card-text {
    font-family: 'Lora', serif;
}

/* Image styles */
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-brand, .menu-item {
        font-size: 18px; /* Slightly smaller text on smaller screens */
    }

    .box, .card {
        margin: 5px;
        padding: 10px;
    }
}

.heart{
    margin: 0;
    padding: 0px;
    background: transparent;
    border: none;
    outline: none !important;
}

.heart i:hover{
    cursor: pointer;
}

/*property details*/
.description {
    font-size: 20px;
}